.*
!.gitignore
!.gitattributes
results
raw_data
*.gz
*.sif
logs
presentations
test_bam
test_dedup.sh
little.bam
.Rproj.user
ref
files/GRCm38_chrsizes.txt
files/*.rds
*.html
files/singlecell_pseudobulk_de.xlsx
